//
  Created by Edge Tech Academy on 1/19/2017.

block content
  h1= title
  p Welcome to #{title}
  ul
    each cust in customerDetails
      li #{cust.Customer.CustomerNo} #{cust.Customer.Description}
        ul
          li // TODO: loop through each order in the orderList and display the OrderNo and ProductNo
