extends layout

block content
  h1= title
  p Welcome to #{title}
  li
    a(href='/customers') Customers: We have #{customerCount} satisfied Customers
    // TODO: you need the number of products to show up in the next line
  li
    a(href='/products') Products: Show list of ????? Products
  li
    a(href='/orders') Orders: Show list of Current #{orderCount} Orders
